<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10767265273-gbs04o646mjf64q20gultq5k8u01ekpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10767265273-gbs04o646mjf64q20gultq5k8u01ekpd</string>
	<key>API_KEY</key>
	<string>AIzaSyDzsEnokXenYNa1Icz3_cPYozx9NyFElT0</string>
	<key>GCM_SENDER_ID</key>
	<string>10767265273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grihasti</string>
	<key>PROJECT_ID</key>
	<string>grihasti-19f5f</string>
	<key>STORAGE_BUCKET</key>
	<string>grihasti-19f5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10767265273:ios:682c8a3ec0f2b285656128</string>
</dict>
</plist>